pkgbase = kodi-addon-visualization-starburst
	pkgdesc = StarBurst visualization for Kodi
	pkgver = 21.0.2
	pkgrel = 1
	url = https://github.com/xbmc/visualization.starburst
	arch = any
	license = GPL-2.0-only
	makedepends = cmake
	makedepends = glm
	makedepends = kodi-dev
	depends = kodi
	source = https://github.com/xbmc/visualization.starburst/archive/refs/tags/21.0.2-Omega.tar.gz
	sha256sums = a3f70985fee6b1014e7e7599431e646f36bd3870ead78bbc8936151b805e4241

pkgname = kodi-addon-visualization-starburst
